// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* HEX коды */

$color-primary-0: #dffa00;	/* Основной Цвет */
$color-primary-1: #acbb2f;
$color-primary-2: #91a200;
$color-primary-3: #e8fc3f;
$color-primary-4: #edfc72;

$color-secondary-a-0: #84e900;	/* Вторичный Цвет A */
$color-secondary-a-1: #76af2c;
$color-secondary-a-2: #559700;
$color-secondary-a-3: #a4f43d;
$color-secondary-a-4: #baf46e;

$color-secondary-b-0: #ffe100;	/* Вторичный Цвет B */
$color-secondary-b-1: #bfae30;
$color-secondary-b-2: #a69200;
$color-secondary-b-3: #ffe840;
$color-secondary-b-4: #ffee73;
